
*{
    margin: ;
    padding: ;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

body{
    display: flex;
    opacity: 0.9 black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    
}

.box{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 320px;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0.9;
}

.box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent, #E50914, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent, #E50914, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate 
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
    
}

.box form{
    position: absolute;
    inset: 4px;
    background: #000;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column; 
}

.box form h2{
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputbox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputbox input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #363636;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputbox span
{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputbox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #464646;
    overflow: hidden;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i 
{
    height: 44px;
}

.box form .fg
{
    display: flex;
    justify-content: space-between;
}

.box form .fg a
{
    margin: 10px 0px;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.box form .fg a:hover, 
.box form .fg a:nth-child(2)
{  
    color: #fff;
}

.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 13px;
    margin-left: 100px;
}

.box form input[type="submit"]:active
{
    opacity: 0.8;
}

.netflix
{
    
}